beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==3.1.0
css-parser==1.0.8
html5lib==1.1
idna==3.4
requests==2.28.2
six==1.16.0
soupsieve==2.4
SudachiDict-full==20230110
SudachiPy==0.6.7
urllib3==1.26.15
webencodings==0.5.1
