
@font-face {
    font-family: jpgothic;
    src: local("メイリオ"), local("ヒラギノ角ゴ Pro W3"), local("Hiragino Kaku Gothic Pro"), local("Meiryo"), local("Noto Sans CJK JP"), local("IPAexGothic"), local("Source Han Sans JP"), local("ＭＳ Ｐゴシック"), local("MS Pgothic"), local("sans-serif");
}

@font-face {
    font-family: jpmincho;
    src: local("Noto Serif CJK JP"), local("IPAexMincho"), local("Source Han Serif JP"), local("MS PMincho"), local("serif");
}

body {
    font-family: jpmincho;
    margin: 0em 1em;
    line-height: 1.5em;
    font-size: 1.2em;
    color: black;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 0.5em;
}

th {
    font-family: jpgothic;
    color: black;
    background-color: lightgray;
    font-weight: normal;
    white-space: nowrap;
}

a {
    text-decoration: none;
}

td ul {
    margin: -0.1em 0em -0.1em -1em;
}

.見出し {
}

.読み方 {
    font-family: jpgothic;
    font-weight: bold;
}

.意味 {
    margin-left: 1.0em;
    margin-bottom: 0.5em;
}

.num_icon {
    font-family: jpgothic;
    padding-left: 0.25em;
    margin-right: 0.5em;
    font-size: 0.8em;
    word-break: keep-all;
    color: white;
    background-color: gray;
    border-style: none;
    -webkit-border-radius: 0.1em;
}

